.bg-custom{
    background-color: #fff !important;
    transition: 0.3s;
    border: 1px solid #FF496E;
    color: #FF496E !important;
}

.bg-custom:hover {
    background-color:#FF496E !important;
    border: 1px solid rgba(0, 0, 0, 0);
    color: #fff !important;
  }

.bg-active{
    background-color: #fff !important;
    transition: 0.3s;
    border: 0px;
    color: #FF496E !important;
}

.navbar{
    width: 100%;
   
}
